[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = git://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/vim-racer"]
	path = .vim/bundle/vim-racer
	url = git://github.com/racer-rust/vim-racer.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule ".vim/bundle/vim-ps1"]
	path = .vim/bundle/vim-ps1
	url = git://github.com/PProvost/vim-ps1.git
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = git://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/vim-localrc"]
	path = .vim/bundle/vim-localrc
	url = git://github.com/thinca/vim-localrc.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "submodules/fishmarks"]
	path = submodules/fishmarks
	url = https://github.com/techwizrd/fishmarks.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".vim/bundle/dockerfile"]
	path = .vim/bundle/dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule ".vim/bundle/vim-editorconfig"]
	path = .vim/bundle/vim-editorconfig
	url = https://github.com/editorconfig/editorconfig-vim
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-autoswap"]
	path = .vim/bundle/vim-autoswap
	url = https://github.com/gioele/vim-autoswap
