[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = git://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/vim-racer"]
	path = .vim/bundle/vim-racer
	url = git://github.com/racer-rust/vim-racer.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".\\.vim\\bundle\\vim-airline"]
	path = .\\.vim\\bundle\\vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule ".\\.vim\\bundle\\vim-ps1"]
	path = .\\.vim\\bundle\\vim-ps1
	url = git://github.com/PProvost/vim-ps1.git
